* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, Arial;
    font-size: 16px;
    background-color: #3261e2;
    color: white;
}

/* ===== MODO ESCURO (seu "light") ===== */
body.light {
    background-color: #0a1531;
    color: rgb(255, 255, 255);
}

/* ===== HEADER ===== */
header {
    width: 100%;
    background-color: #1E3A8A;
    padding: 15px;
    box-sizing: border-box;
    transition: all 1.5s;
}

body.light header {
    background-color: #122557;
}

header nav {
    margin-top: -10px;
    display: flex;
    float: right;
}

header a img {
    width: 8%;
    margin-top: 6px;
    margin-left: 30px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 12px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* evita azul bugado */
a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit !important;
    background: none !important;
    text-decoration: none !important;
}

header a:hover {
    color: rgb(56, 0, 88);
}

/* ===== BOTÃO ===== */
header button {
    padding: 15px;
    background-color: rgb(255, 166, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}

body.light button {
    background-color: #ff9800;
    color: black;
}

/* ===== GALERIA ===== */
.galeria {
    width: 70%;
    padding: 10px;
    margin: 40px auto 50px auto;
    background-color: rgb(0, 39, 112);
    border-radius: 20px;
}

/* TEXTO */
.galeria h2 {
    color: white;
    text-align: center;
    font-size: 50px;
}

/* IMAGENS */
.galeria img {
    padding: 20px;
    max-width: 270px;
    display: inline-block;
    margin: auto;
}

/* MODO ESCURO */
body.light .galeria {
    background-color: #122557;
}

body.light .galeria h2 {
    color: white;
}

/* ===== STRIPES ===== */
.stripes {
    width: 70%;
    padding: 10px;
    margin: 40px auto 50px auto;
    background-color: rgb(0, 39, 112);
    border-radius: 20px;
}

.stripes h2 {
    color: white;
    text-align: center;
    font-size: 50px;
}

.stripes img {
    margin: auto;
    padding: 30px;
}

/* MODO ESCURO */
body.light .stripes {
    background-color: #122557;
}

body.light .stripes h2 {
    color: white;
}

/* ===== FOOTER ===== */
footer{
    padding: 30px;
    text-align: center;
    width: 95.5%;
    color: white;
    background-color: rgb(0, 26, 75);
}

body.light footer {
    background-color: #122557;
    color: white;
}